@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
ion-icon{
    color: white;
    position: absolute;
    left: 275px;
    top: 10px;
    width: 20px;
    height: 20px;
}
.icon_io{
    position:absolute;
    left: 30px;
    top: 30px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    width: 4%;
    height: 3.4%;
    transition: 0.5s;
    cursor: pointer;
}
.icon_io:hover{
    background: white;
    color: black;
    /* backdrop-filter: blur(36px); */
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url("Login\ Background.jpg")no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    
    margin-left: -68%;
    margin-top: 10%;
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
    
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
font-size: 0.8em;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    margin-left: 64px;
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: letter-spacing 2s;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
button:hover{
    font-weight: calc(130%);
    border-style: solid;
    border-color: white;
    color: white;
    background: transparent;
    letter-spacing: 0.5em;
}

#bb{
    position: absolute;
    margin-top: -280px;    
    height: 120px;
    width: 120px;
     padding-bottom: 1%;
     margin-left: 200px;
     /* background: white; */
     border: 2px solid white;
     border-radius: 100%;
     border-width: 5px;
     
     
}
.snehil{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-inline-start: 10px;
    padding-inline-end: 2px;
}
input:invalid {
    color: lightcoral;
    animation: shakes 0.5s;
      
}
@keyframes shakes {
    0%{
        transform: translatex(2px);
    }
    15%{
        transform: translatex(-8px);
    }
    20%{
        transform: translatex(5px);
    }

    
}